.Navigation {
  display: flex;
  justify-content: space-between;
  background-color: pink;
}

.Main-div {
  background-color: pink;
}

.Countries-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.Country-link {
  text-decoration: none;
  color: rgb(104, 22, 31);
}

.Country-name {
  text-align: center;
  padding-top: 30%;
}

.Flag-div {
  height: 150px;
  background-size: cover;
  background-position: center;
}

.Top-section {
  display: flex;
}

.Africa-map {
  width: 50%;
}

.Second-part {
  width: 50%;
  padding-left: 5%;
  margin-top: 7%;
}

.Nav-header {
  color: #fff;
}

.Detail-page {
  background-color: pink;
}

.Data-section{
  margin-top: 30px;
}

.Country-detial {
  height: 300px;
  /* padding: 10px; */
  margin-left: 15%;
}

.Details-name {
  height: 80px;
  padding-top: 30px;
  text-align: center;
  border: 1px solid rgb(219, 214, 214);
  margin-top: 0;
  margin-bottom: 0;
}

.Details-name:nth-child(even) {
  background-color: rgb(206, 86, 106);
}

.Menu-icon {
  height: 25px;
  margin-top: 10px;
}